@import './styles/base.scss';

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  margin-left: 50vw;
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  animation-name: move-as-square, red-to-green;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count:2;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes red-to-green {
  from {
    background: red;
  } to {
    background: green
  }
}

@keyframes move-as-square {
  0% {
    transform: translateX(-50vw)
  }
  25% {
    transform: translateX(20vw)
  }
  50% {
    transform: translateX(20vw) translateY(20vw);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  100% {
    transform: translateX(0vw) translateY(20vw)
  }
  // 100% {
  //   transform: translateX(0vw)
  // }
}
